.navigation{
  padding: 20px 80px;
  width: 100vw;
  display: flex;
  text-decoration: none;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  // background-color: rgba(255, 255, 255, 0.466);
  position: fixed;
  /* From https://css.glass */

  .header-logo{
    background-image: url('../../assets/images/logo.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  ul{
    display: flex;
    list-style: none;
    margin: 0px;
    font-size: 30px;
    li{
      margin-left: 20px;
      a{
        text-decoration: none;
        color: black;
      }
    }
    .cart{
      position:relative;
      .items{
        position: absolute;
        font-size: 12px;
        top: -10px;
        right: -10px;
        color: white;
        background-color: black;
        padding: 4px;
        border-radius: 30px;
        border: white solid 1px;
      }
    }
  }
}
.navbar-inverse
{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
