
body{
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 100px;
}
.background-landing-page
{
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/images/J01399-D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

}

