<div class="categories">
  <div class="category" [routerLink]="'category/unikat'">
      <div class="category-single-image thumbnail-zoom">
        <img src="assets/images/feels_like_sunset.jpeg">
      </div>
      <div class="category-single-desc">
        <h3>UNIKAT</h3>
        <div class="text-button">
          <p>Lorem ipsum doloraaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
          <i class="fa-solid fa-arrow-right-long fa-2xl" [routerLink]="'category/unikat'"></i>
        </div>
      </div>
  </div>
  <div class="category" [routerLink]="'category/poster'">
      <div class="category-single-image thumbnail-zoom">
        <img src="assets/images/Last-supper.jpg">
      </div>
      <div class="category-single-desc">
        <h3>Poster</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
        <i class="fa-solid fa-arrow-right-long fa-2xl" [routerLink]="'category/poster'"></i>
      </div>
  </div>

  <div class="category">
      <div class="category-single-image thumbnail-zoom" [routerLink]="'category/last-chance'">
        <img src="assets/images/original_positano-amalfi-coast-art-print.jpg">
      </div>
      <div class="category-single-desc">
        <h3>Last Chance</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
        <i class="fa-solid fa-arrow-right-long fa-2xl" [routerLink]="'category/last-chance'"></i>
      </div>
    </div>
</div>
<div  class="category-single-outer" [routerLink]="'category/unikat'">
  <div class="category-single">
    <div class="category-single-image">
      <img src="assets/images/feels_like_sunset.jpeg">
    </div>
    <div class="category-single-desc">
      <h3>UNIKAT</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
    </div>
  </div>
</div>
<div  class="category-single-outer" [routerLink]="'category/poster'">
  <div class="category-single">
    <div class="category-single-image">
      <img src="assets/images/Last-supper.jpg">
    </div>
    <div class="category-single-desc">
      <h3>Poster</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
    </div>
  </div>
</div>
<div  class="category-single-outer" style="margin-bottom: 0px;" [routerLink]="'category/last-chance'">
  <div class="category-single">
    <div class="category-single-image">
      <img src="assets/images/original_positano-amalfi-coast-art-print.jpg">
    </div>
    <div class="category-single-desc">
      <h3>Last Chance</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque culpa ipsa! Nemo perferendis assumenda amet sunt facere numquam illo delectus? Impedit officia cum dicta necessitatibus. Animi numquam nobis ducimus.</p>
    </div>
  </div>
</div>
