.footer{
  padding: 10px 50px;
  width: 100vw;
  display: flex;
  text-decoration: none;
  position: absolute;
  justify-content: space-between;
  box-sizing: border-box;
  img{
    width: 100px;
  }
}
